{% extends "base.html" %} 

{% block content %}
</style>
{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  
  {% endif %}
{% endwith %}
<center>
  <div style="padding-top: 20px;">
    <h1>Live streaming</h1>
  </div>
    <div style="padding-top: 20px;">
         
        <img src="{{ url_for('video')}}" width="40%">
       
    </div>
    <br>
    <form method="post">
    <a href="/release"><button type="button" class="btn btn-primary btn-lg ">Kill Camera Object</button></a>
    </form>
  
</center>
{% endblock %}